* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bangers';
  src: url('./fonts/Bangers.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8ebc9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
.score,
.result {
  text-align: center;
  font-weight: bold;
}

h1,
.result {
  font-family: 'Bangers', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

h1 {
  font-size: 72px;
  color: #d05228;
}

.move {
  font-size: 120px;
}

.score {
  font-size: 20px;
  color: #eee;
}

.result {
  font-size: 62px;
}

.display-container,
.display,
.result-container,
.controls-container {
  display: flex;
}

.display-container {
  justify-content: space-around;
  max-width: 800px;
  margin: 50px auto;
}

.display,
.control-btn {
  background-color: #0b405a;
}

.display {
  flex-direction: column;
  user-select: none;
}

.score-container,
.move-container {
  padding: 20px;
}

.score-container {
  background-color: #082d3f;
  color: white;
}

.result-container,
.controls-container {
  justify-content: center;
}

.result-container {
  margin-bottom: 20px;
}

.controls-container {
  gap: 40px;
}

.control-btn {
  font-size: 40px;
  padding: 20px;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s;
  user-select: none;
}

.control-btn:hover {
  transform: scale(1.15);
}

.control-btn:active {
  background-color: #082f42;
}

.win {
  color: green;
}

.lose {
  color: red;
}
